// @use "_reset.scss";
// @import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url(http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css);

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #424242;
}

header {
  letter-spacing: -0.03em;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  nav:first-child {
    position: absolute;
    width: 100%;
    background-color: #fafafce8;
    .nav_ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding: 0 1.25%;
        display: block;
        // border: 1px solid #000;
        font-size: 12px;
      }
    }
    .menu {
      display: none;
      position: absolute;
      width: 100%;
      height: 850%;
      top: 100%;
      background-color: #fff;
      div {
        width: 50%;
        margin: auto;
        padding-bottom: 3%;
        display: flex;
        // position: relative;
        ul {
          padding: 3% 0;
          font-size: 0.7em;
          &:first-child {
            padding-right: 10%;
            font-size: 1.2em;
            font-weight: 600;
            li {
              &:first-child {
                font-size: 0.6em;
                font-weight: normal;
              }
            }
          }
          &:nth-child(2) {
            padding-right: 5%;
          }
          &:nth-last-child(3) {
          }
          li {
            color: #000;
            // padding: 5% 0;
            margin-top: 15px;
            &:first-child {
              color: #777779;
              height: 20px;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
.header_text {
  text-align: center;
  padding: 3% 0 1% 0;
  font-size: 0.85em;
  color: #424242;

  span {
    a {
      &:last-child {
        color: #0066cc;
      }
    }
  }
}
main {
  a {
    // position: relative;
  }
  a::after {
    content: "\f105";
    // position: absolute;
    font-family: fontawesome;
    color: #0066cc;
    margin-left: 0.2em;
  }
  height: 480%;
  width: 100%;
  section {
    &:first-child {
      display: grid;
      grid-template-rows: repeat(3, 690px);
      row-gap: 10px;
      .part {
        cursor: pointer;
        background-image: url(https://www.apple.com/v/home/bd/images/heroes/macbook-air-15/hero_macbook_air_15_midnight__ct0pgwizvree_largetall.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 1fr 1.7fr;
        &:nth-child(2) {
          background-image: url(https://www.apple.com/kr/home/bd/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_largetall.jpg);
        }
        &:last-child {
          background-image: url(https://www.apple.com/kr/home/bd/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_largetall.jpg);
          color: #fff;
        }
        div {
          &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
              font-size: 3.2em;
            }
            h3 {
              font-size: 1.5em;
              font-weight: normal;
            }
            h5 {
              display: flex;
              justify-content: space-between;
              width: 12%;
              margin-top: 0.7em;
              font-size: 1.3em;
              font-weight: normal;
              a {
                color: #0066cc;
              }
            }
          }
        }
      }
    }
    &:nth-child(2) {
      // height: 200%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 580px);
      gap: 12px;
      // margin: 12px 0 12px 6px;
      margin: 12px;
      color: #fff;
      div {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(https://www.apple.com/v/home/bd/images/promos/apple-event-september/promo_apple_event_september__c1zbjahmv18i_large.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        h1 {
          font-size: 2.2em;
          margin-top: 1.5em;
        }
        h3 {
          font-weight: normal;
          font-size: 1.2em;
          margin: 0.1% 0 1.2% 0;
        }
        span {
          width: 20%;
          display: flex;
          justify-content: space-between;
          a {
            color: #0066cc;
          }
        }
        &:nth-child(1) {
          justify-content: flex-end;
          margin-top: 0;
          span {
            margin-bottom: 3.2em;
            justify-content: center;
          }
        }
        &:nth-child(2) {
          background-image: url(https://www.apple.com/kr/home/bd/images/promos/ipad-pro/promo_ipadpro_refresh__evi9utuixwuq_large.jpg);
        }
        &:nth-child(3) {
          background-image: url(https://www.apple.com/kr/home/bd/images/promos/apple-watch-series-8/promo_apple_watch_series_8_spring__d9hfvufh7hyu_large.jpg);
        }
        &:nth-child(4) {
          background-image: url(https://www.apple.com/v/home/bd/images/promos/airpods-pro/promo_airpods_pro_avail__gaxggskofx6y_large.jpg);
        }
        &:nth-child(5) {
          background-image: url(https://www.apple.com/v/home/bd/images/promos/ipad/promo_ipad__fioegapg12qi_large.jpg);
          color: #424242;
        }
        &:nth-child(6) {
          background-image: url(https://www.apple.com/v/home/bd/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_large.jpg);
        }
      }
    }
    &:nth-child(3) {
      position: relative;
      overflow: hidden;
      height: 700px;
      input[name="tabmenu"] {
        display: none;
      }
      input[id="one"]:checked ~ .slides .slide {
        left: 0;
      }
      input[id="two"]:checked ~ .slides .slide {
        left: -100%;
      }
      input[id="three"]:checked ~ .slides .slide {
        left: -200%;
      }
      input[id="four"]:checked ~ .slides .slide {
        left: -300%;
      }
      input[id="five"]:checked ~ .slides .slide {
        left: -400%;
      }
      input[id="six"]:checked ~ .slides .slide {
        left: -500%;
      }
      input[id="seven"]:checked ~ .slides .slide {
        left: -600%;
      }
      input[id="eight"]:checked ~ .slides .slide {
        left: -700%;
      }
      input[id="nine"]:checked ~ .slides .slide {
        left: -800%;
      }
      input[id="one"]:checked ~ .slides .slide > div button,
      input[id="one"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="two"]:checked ~ .slides .slide > div button,
      input[id="two"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="three"]:checked ~ .slides .slide > div button,
      input[id="three"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="four"]:checked ~ .slides .slide > div button,
      input[id="four"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="five"]:checked ~ .slides .slide > div button,
      input[id="five"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="six"]:checked ~ .slides .slide > div button,
      input[id="six"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="seven"]:checked ~ .slides .slide > div button,
      input[id="seven"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="eight"]:checked ~ .slides .slide > div button,
      input[id="eight"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="nine"]:checked ~ .slides .slide > div button,
      input[id="nine"]:checked ~ .slides .slide > div span {
        opacity: 1;
        visibility: visible;
        margin-top: 50px;
      }
      input[id="one"]:checked ~ .btn label[for="one"] {
        background-color: #353535;
      }
      input[id="two"]:checked ~ .btn label[for="two"] {
        background-color: #353535;
      }
      input[id="three"]:checked ~ .btn label[for="three"] {
        background-color: #353535;
      }
      input[id="four"]:checked ~ .btn label[for="four"] {
        background-color: #353535;
      }
      input[id="five"]:checked ~ .btn label[for="five"] {
        background-color: #353535;
      }
      input[id="six"]:checked ~ .btn label[for="six"] {
        background-color: #353535;
      }
      input[id="seven"]:checked ~ .btn label[for="seven"] {
        background-color: #353535;
      }
      input[id="eight"]:checked ~ .btn label[for="eight"] {
        background-color: #353535;
      }
      input[id="nine"]:checked ~ .btn label[for="nine"] {
        background-color: #353535;
      }
      .slides {
        position: relative;
        height: 650px;
        .slide {
          height: inherit;
          width: 900%;
          display: flex;
          transition: 0.5s;
          position: absolute;
          top: 0;
          left: 0;
          div {
            height: inherit;
            width: 7%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 2.7em;
            background-position: center center;
            background-repeat: no-repeat;
            button {
              box-shadow: 0 0 0 0 #000, 0 0 50px rgba(29, 29, 29, 0.911);
              background-color: #fff;
              border-radius: 24px;
              outline: none;
              opacity: 0;
              visibility: hidden;
              border: none;
              padding: 1.3% 1.3%;
              color: #424242;
              font-weight: 900;
              &:hover {
                background-color: #ebeaea;
              }
            }
            span {
              color: #fff;
              padding: 1.3% 3%;
              opacity: 0;
              visibility: hidden;
              strong {
                font-weight: 600;
              }
            }
            &:nth-child(1) {
              background-image: url(https://is2-ssl.mzstatic.com/image/thumb/ZYgBYqv2vjEdrY8wZSiFAw/1250x703.jpg);
            }
            &:nth-child(2) {
              background-image: url(https://is2-ssl.mzstatic.com/image/thumb/J1wMVEbDSzF0cP98d8m_gA/1250x703.jpg);
            }
            &:nth-child(3) {
              background-image: url(https://is1-ssl.mzstatic.com/image/thumb/JX16FVjo_Z7znz4m-TkjkA/1250x703.jpg);
            }
            &:nth-child(4) {
              background-image: url(https://is4-ssl.mzstatic.com/image/thumb/I25UvCTJzFPQZ7dAB6BFRg/1250x703.jpg);
            }
            &:nth-child(5) {
              background-image: url(https://is2-ssl.mzstatic.com/image/thumb/EviF5KEP5X6ycr0I5QR_IA/1250x703.jpg);
            }
            &:nth-child(6) {
              background-image: url(https://is4-ssl.mzstatic.com/image/thumb/CkBnY85jwna1fuSpPrqCmQ/1250x703.jpg);
            }
            &:nth-child(7) {
              background-image: url(https://is2-ssl.mzstatic.com/image/thumb/gMjB2Z2TTM1gsL5A_rGAKw/1250x703.jpg);
            }
            &:nth-child(8) {
              background-image: url(https://is2-ssl.mzstatic.com/image/thumb/tYkZknJI_uIjNg9jjLGFog/1250x703.jpg);
            }
            &:nth-child(9) {
              background-image: url(https://is3-ssl.mzstatic.com/image/thumb/bsuHwZjhSeAGu-2QCWn3wQ/1250x703.jpg);
            }
          }
        }
      }
      .btn {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        label {
          display: inline-block;
          height: 5px;
          width: 50px;
          background-color: gray;
          cursor: pointer;
        }
      }
    }
  }
}
footer {
  background-color: #f5f5f7;
  color: #777779;
  font-size: 11px;
  section {
    width: 50%;
    margin: auto;
    &:first-child {
      font-size: 11px;
      padding: 1% 0;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #777779;
        display: block;
        margin: 2.5% 0 0 0;
      }
      p {
        line-height: 1.5em;
      }
    }
    &:nth-child(2) {
      // border: 1px solid #000;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 11.5px;
      line-height: 1.5em;
      height: 349px;
      width: 50%;
      position: relative;
      ul {
        padding: 0;
        padding-bottom: 2em;

        &:nth-child(5) {
          padding-bottom: 3em;
        }
        li {
          margin-bottom: 0.3em;
          &:hover {
            text-decoration: underline;
          }
          &:first-child {
            font-weight: bold;
            margin-bottom: 0.7em;
            color: #5c5c5f;
          }
        }
      }
      p {
        position: absolute;
        bottom: -5%;
        a {
          color: #458ed8;
          text-decoration: underline;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #777779;
        position: absolute;
        margin: 2.5% 0;
        bottom: -15%;
      }
    }
    &:nth-child(3) {
      padding: 2% 0 1.5% 0;
      .footer_link {
        padding-bottom: 1%;
        display: flex;

        p {
        }
        ul {
          letter-spacing: -0.07em;
          display: flex;
          font-size: 11px;
          li {
            margin-right: 2.5em;
          }
        }
        .last {
          text-align: end;
          width: 28.2%;
        }
      }
      .footer_address {
        display: flex;
        font-size: 10.5px;
      }
    }
  }
}
@media (max-width: 9999px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
}
